h1{
    text-align: center;
    color: black;
    background-color: bisque;
    font-size: 60px;
}
label{
    font-size: larger;
    color: rgb(255, 251, 0);
    font-size: 40px;
}
div{
    background-color: black;
    width: 1890px;
    height:840px;
    border-radius: 20px;
}
button{
    color: gree;
}
button{
    width: 230px;
    background-color: rgb(0, 255, 255) ;
    color: white; 
    border-radius: 9px;
    height: 30px;
    color: black;
    font-size: 20px;
}
input{
    border-radius: 9px;
    width: 250px;
    height: 25px;
    font-size: 30px;
}
iframe{
    width: 950px;
height: 575px

    
}

